.name {
	color: black;
}
.degree {
	color: black;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
.me {
	background-color: white;
}
.work-experience-item{
	margin-top: 15px;
}
.work-experience-description {
	margin-top: 8px;
}
.attributes {
	text-align: center;
}
.vishal-attributes {
	font-size: 20px;
}
.project-item {
	margin-top: 15px;
}
.research-item {
	margin-top: 15px;
}
#research {
	padding-top:50px;
	padding-bottom:50px;
	background-color: #BCB8B8;
}
#projects {
	padding-top:50px;
	padding-bottom:30px;
	background-color: white;
}
#courses {
	padding-top: 50px;
	padding-bottom: 50px;
}
