<div class="container">
	<div class = "row">
		<div class = "col-sm-3 col-sm-offset-2">
			<img src = "images/vishalkotak.png" class = "img-circle" alt="Vishal_Kotak"/>
		</div>
	</div>
	<div class = "row about">
		<div class = "col-sm-7 col-sm-offset-2"> 
			<span class = "AboutText">Hi, </span>
		</div>
	</div>
	<div class = "row about">
		<div class = "col-sm-7 col-sm-offset-2"> 
			<span class = "AboutText">I'm Vishal Kotak, currently pursuing a Master's in Computer Science at Northeastern University with an anticipated graduation date of December 2017. I am currently working as a Junior System Administrator at College of Computer and Information Science learning about servers and firewalls. I have also been a Research Assistant, implementing an Android Application.</span>
		</div>
	</div>
	<div class = "row about">
		<div class = "col-sm-7 col-sm-offset-2"> 
			<span class = "AboutText">After completing Bachelor's degree in Computer Engineering from University of Mumbai, I worked as a Software Developer at TSS Consultancy working on providing software solutions to clients in finance and fitness domain. I have also been a SAP-ABAP software engineer at Accenture Services working on Project Systems module.</span>
		</div>
	</div>
	<div class = "row about">
		<div class = "col-sm-7 col-sm-offset-2"> 
			<span class = "AboutText">Along with experience in Software and Mobile/Web Application Development, I love to learn and experiment with new technologies. I am currently looking for Co-op/Internship[Winter and Summer] opportunities starting from January 2017 in software/mobile development. </span>
		</div>
	</div>
	<div class = "row about">
		<div class = "col-sm-7 col-sm-offset-2"> 
			<span class = "AboutText">If you want to connect and/or chat about any of these, I'd love to hear from you. </span>
		</div>
	</div>	
</div>