<div class="row">
	<div class="col-sm-3 col-sm-offset-2">
		<span class="ContactMeHeader">Contact Me! </span>
	</div>
</div>
<div class="row">
	<div class="col-sm-4 col-sm-offset-2">
		<span class="ContactText">I can be reached at the below email addresses:</span>
	</div>
</div>
<div class="row">
	<div class="col-sm-6 col-sm-offset-2">
		<a href="mailto:kotak.v@husky.neu.edu"><span class="EmailId">kotak.v@husky.neu.edu</span></a> |
		<a href="mailto:vishal.sanjiv.kotak@gmail.com"><span class="EmailId">vishal.sanjiv.kotak@gmail.com</span></a>
	</div>
</div>
<div class="row">
	<div class="col-sm-6 col-sm-offset-2">
		<span class="ContactText">Also, I am available on these websites: </span>
	</div>
</div>
<div class="row">
	<div class="col-sm-1 col-sm-offset-2">
		<a href="https://www.linkedin.com/in/vishalsanjivkotak" target="_blank"><img src = "images/linkedin.png" title = "LinkedIn"class = "img-rounded" style="width:30px; height:30px;"></a>
	</div>
	<div class="col-sm-1">
		<a href="https://github.com/kotakvishal7" target="_blank"><img src = "images/github.png" title = "Github"class = "img-rounded" style="width:25px; height:25px;"></a>
	</div>
	<div class="col-sm-1">
		<a href="https://twitter.com/kotakvishal" target="_blank"><img src = "images/twitter.png" title = "Twitter"class = "img-rounded" style="width:30px; height:30px;"></a>
	</div>
	<div class="col-sm-1">
		<a href="https://www.quora.com/profile/Vishal-Kotak-1" target="_blank"><img src = "images/quora.png" title = "Quora"class = "img-rounded" style="width:30px; height:30px;"></a>
	</div>
	<div class="col-sm-1">
		<a href="http://stackoverflow.com/users/3952259/vishal-kotak" target="_blank"><img src = "images/stackoverflow.png" title = "Stack Overflow"class = "img-rounded" style="width:30px; height:30px;"></a>
	</div>
</div>
