<div class="row">
	<div class="col-sm-5">
		<span class="ProjectHeader">Ontology-based Context-Aware Android application <span>
	</div>
	<div class="col-sm-3">
		<span class="Duration">(September 2013 - April 2014)</span>
	</div>
</div>
<div class="row">
	<div class="col-sm-8">
		<span class="ProjectDescription">
			A Context i.e. Location and Reach-based recommender system that provides the user with listed information (about places like restaurants, cinemas, etc.) drawn up based on their past experiences. Ontology was used in conceptualizing domains and improving recommendations. 
		</span>
	</div>
</div>
<div class="row">
	<div class="col-sm-8">
		<div class="Technologies">
			<span class="TechnologiesHeader">Technologies involved:</span>
			<span class="TechnologiesData">: Android, MySQL, PHP and Ontology</span>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-5">
		<span class="ProjectHeader">VESIT Placement Application <span>
	</div>
	<div class="col-sm-3">
		<span class="Duration">(January 2013 - April 2013)</span>
	</div>
</div>
<div class="row">
	<div class="col-sm-8">
		<span class="ProjectDescription">
			An Android application for students who want to enroll in campus placements. It provides information about varied industries visiting the campus and their requirements. 
		</span>
	</div>
</div>
<div class="row">
	<div class="col-sm-8">
		<div class="Technologies">
			<span class="TechnologiesHeader">Technologies involved:</span>
			<span class="TechnologiesData">Android</span>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-5">
		<span class="ProjectHeader">VESIT Student Forum <span>
	</div>
	<div class="col-sm-3">
		<span class="Duration">(September 2012 - April 2013)</span>
	</div>
</div>
<div class="row">
	<div class="col-sm-8">
		<span class="ProjectDescription">
			A student forum implemented to facilitate interaction between college students and faculty after college hours. Students can refer to tutorials published on the website, post questions and professors can suggest solutions. 
		</span>
	</div>
</div>
<div class="row">
	<div class="col-sm-8">
		<div class="Technologies">
			<span class="TechnologiesHeader">Technologies involved:</span>
			<span class="TechnologiesData">HTML, JavaScript, CSS, AJAX, JQuery, PHP and MySQL</span>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-5">
		<span class="ProjectHeader">Mode Manager Mobile Application<span>
	</div>
	<div class="col-sm-3">
		<span class="Duration">(January 2013 - April 2013)</span>
	</div>
</div>
<div class="row">
	<div class="col-sm-8">
		<span class="ProjectDescription">
			A mobile application running in the background to detect registered silent zones by using Location tracker (GPS/Network Provider) and automatically changing the profile to silent/air plane mode.
		</span>
	</div>
</div>
<div class="row">
	<div class="col-sm-8">
		<div class="Technologies">
			<span class="TechnologiesHeader">Technologies involved:</span>
			<span class="TechnologiesData">Android</span>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-5">
		<span class="ProjectHeader">Railway Reservation System </span>
	</div>
	<div class="col-sm-3">
		<span class="Duration">(September 2012 - December 2012)</span>
	</div>
</div>
<div class="row">
	<div class="col-sm-8">
		<span class="ProjectDescription">
			A desktop application for booking railway tickets, checking availability and prices and status notification. The system was implemented considering factors such as cost of query, query optimization and search algorithm efficiency.
		</span>
	</div>
</div>
<div class="row">
	<div class="col-sm-8">
		<div class="Technologies">
			<span class="TechnologiesHeader">Technologies involved:</span>
			<span class="TechnologiesData">Microsoft SQL Server 2008, Visual C#(.NET framework)</span>
		</div>
	</div>
</div>