<div class="row">
	<div class="col-sm-6 col-sm-offset-2">
		<span class="ProjectHeader">MS Pacman [Java]<span>
	</div>
</div>
<div class="row">
	<div class="col-sm-6 col-sm-offset-2">
		<span class="ProjectDescription">
			Implemented algorithms like Graph Search, Local Search, Genetic, Evolutionary Strategy, Adversarial Search and Neural Networks with Perceptron for Pacman and Ghosts in MS Pacman framework - Java and compared algorithm performance.
		</span>
	</div>
	<div class = "col-sm-2">
		<img src = "images/pacman.png" alt="Pacman_Logo"/>
	</div>
</div>
<!-- <div class="row">
	<div class="col-sm-6 col-sm-offset-2">
		<div class="Technologies">
			<span class="TechnologiesHeader">Technologies involved:</span>
			<span class="TechnologiesData">Java</span>
		</div>
	</div>
</div> -->
<div class="row">
	<div class="col-sm-6 col-sm-offset-2">
		<span class="ProjectHeader">Ontology-based Context-Aware Android Application [Android, MySQL, PHP]<span>
	</div>
</div>
<div class="row">
	<div class="col-sm-6 col-sm-offset-2">
		<span class="ProjectDescription">
			Designed a location and reach-based recommender system for Android that provided the user with listed recommendations (regarding places such as restaurants, cinemas, etc.) drawn up based on their previous experiences. Integrated Ontology with Android application using Protégé, Androjena API, and MySQL database. 
		</span>
	</div>
	<div class = "col-sm-2">
		<img src = "images/mysql.png" alt="MySql_logo"/>
	</div>
</div>
<!-- <div class="row">
	<div class="col-sm-6 col-sm-offset-2">
		<div class="Technologies">
			<span class="TechnologiesHeader">Technologies involved:</span>
			<span class="TechnologiesData">Android, MySQL, PHP and Ontology</span>
		</div>
	</div>
</div> -->
<div class="row">
	<div class="col-sm-6 col-sm-offset-2">
		<span class="ProjectHeader">VESIT Placement Application [Android]<span>
	</div>
</div>
<div class="row">
	<div class="col-sm-6 col-sm-offset-2">
		<span class="ProjectDescription">
			An Android application for students who want to enroll in campus placements providing information about industries visiting the campus and their requirements. 
		</span>
	</div>
	<div class = "col-sm-2">
		<img src = "images/php.png" alt="Php_logo"/>
	</div>
</div>
<!-- <div class="row">
	<div class="col-sm-6 col-sm-offset-2">
		<div class="Technologies">
			<span class="TechnologiesHeader">Technologies involved:</span>
			<span class="TechnologiesData">Android</span>
		</div>
	</div>
</div> -->
<div class="row">
	<div class="col-sm-6 col-sm-offset-2">
		<span class="ProjectHeader">VESIT Student Forum [HTML, CSS, JavaScript, jQuery, AJAX, MySQL]<span>
	</div>
</div>
<div class="row">
	<div class="col-sm-6 col-sm-offset-2">
		<span class="ProjectDescription">
			A student forum implemented to facilitate interaction between college students and faculty after college hours. Students can refer to tutorials published on the website, post questions and professors can suggest solutions. 
		</span>
	</div>
	<div class = "col-sm-2">
		<img src = "images/html.png" alt="html_Logo"/>
	</div>
</div>
<!-- <div class="row">
	<div class="col-sm-6 col-sm-offset-2">
		<div class="Technologies">
			<span class="TechnologiesHeader">Technologies involved:</span>
			<span class="TechnologiesData">HTML, JavaScript, CSS, AJAX, JQuery, PHP and MySQL</span>
		</div>
	</div>
</div> -->
<div class="row">
	<div class="col-sm-6 col-sm-offset-2">
		<span class="ProjectHeader">Mode Manager Mobile Application [Android]<span>
	</div>
</div>
<div class="row">
	<div class="col-sm-6 col-sm-offset-2">
		<span class="ProjectDescription">
			Conceptualized an Android application that runs in the background to detect silent zones by using location tracker and automatically changes the profile of mobile to silent mode.
		</span>
	</div>
	<div class = "col-sm-2">
		<img src = "images/css.png" alt="css_Logo"/>
	</div>
</div>
<!-- <div class="row">
	<div class="col-sm-8 col-sm-offset-2">
		<div class="Technologies">
			<span class="TechnologiesHeader">Technologies involved:</span>
			<span class="TechnologiesData">Android</span>
		</div>
	</div>
</div> -->
<div class="row">
	<div class="col-sm-6 col-sm-offset-2">
		<span class="ProjectHeader">Railway Reservation System [C#, SqlServer]</span>
	</div>
</div>
<div class="row">
	<div class="col-sm-6 col-sm-offset-2">
		<span class="ProjectDescription">
			A desktop application implemented using C# and SQL Server for booking railway tickets, checking availability and prices and status notification. The system was implemented considering factors such as cost of query, query optimization and search algorithm efficiency.
		</span>
	</div>
	<div class = "col-sm-2">
		<img src = "images/csharp.png" alt="csharp_Logo"/>
	</div>
</div>
<!-- <div class="row">
	<div class="col-sm-8 col-sm-offset-1">
		<div class="Technologies">
			<span class="TechnologiesHeader">Technologies involved:</span>
			<span class="TechnologiesData">Microsoft SQL Server 2008, Visual C#(.NET framework)</span>
		</div>
	</div>
</div> -->