<div class="row">
	<div class="col-sm-6 col-sm-offset-1">
		<span class="ResearchHeader">An Ontology based Context-Aware application<span>
	</div>
	<div class="col-sm-3">
		<span class="DurationResearch">Volume 104- October 2014</span>
	</div>
</div>
<div class="row">
	<div class="col-sm-8 col-sm-offset-1">
		<span class="ResearchAbstract">
			The paper gives information about Context-Aware recommender application with its data structure implemented in Ontology. The basic idea here is to recommend the user of the application places and services according to his/her preferences and/or context. Ontology is a way of representing data in the form of concepts in a particular domain and the relationships between those concepts.
		</span>
	</div>
</div>
<div class="row">
	<div class="col-sm-3 col-sm-offset-1">
		<a href="papers/OntologyApplication.pdf" target="_blank"><span class="Link">Ontology Application Research Paper</span></a>
	</div>
</div>
<div class="row">
	<div class="col-sm-6 col-sm-offset-1">
		<span class="ResearchHeader">Mode Manager: A GPS/ Cellular network based Context-Aware application<span>
	</div>
	<div class="col-sm-3">
		<span class="DurationResearch">Volume 2- October 2013</span>
	</div>
</div>
<div class="row">
	<div class="col-sm-8 col-sm-offset-1">
		<span class="ResearchAbstract">
			The next generation of computing belongs to context aware applications. These applications running in the background are invisible and calm. With advances in mobile networks and hi-speed connectivity it becomes a lot easier to track a user and identify his context. The location of a user can be tracked either with the help of GPS or by cellular network service provider. Our application aims to identify the user location and accordingly switch the mode of user’s smart device. 
		</span>
	</div>
</div>
<div class="row">
	<div class="col-sm-3 col-sm-offset-1">
		<a href="papers/ModeManager.pdf" target="_blank"><span class="Link">Mode Manager Research Paper</span></a>
	</div>
</div>